html{
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    text-align: center;
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
}
a{
    color:#01579b;
    transition: all .3s ease-out;
}
a:hover {
    opacity: .75;
}
img{
    max-width: 100%;
    height: auto;
}
h1{
    text-align: center;
}