/*
    COMENTARIO CSS
    Regla css conta de 2 partes
    1)el selector
    2)bloque de declaraciones{
    atributo:valor;
    atributo-de-mas-dos-palabras:otro-valor;
    }
*/

/*Son mala practica por que son bloqueantes a la hora de que el navegador lee esta instruccion*/
@import url("otra-hoja.css"); /*con import puedo llamar otra oja de estilo  -> esto solo en CSS puro*/

h1{
    color: orangered;
    background-color: black;
}

/* 
  Links de referencia y documentación
  https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada
  https://www.w3.org/html/logo/
  https://www.w3.org/standards/webdesign/htmlcss.html
  https://www.w3.org/TR/css-2020/
  https://developer.mozilla.org/es/docs/Web/CSS
  https://cssreference.io/
  https://caniuse.com/
  https://codeguide.co/
*/

/*
Selectores Basicos
    1)Etiquetas - son elementos html
    2)Identificadores - atributo id - #
    3)Clases -atributo class - .
*/
p{
    color: midnightblue;
}
/*Dar estilo con Id se considera un AntiPatron*/
#parrafo-dos{
    background-color: skyblue;
}

/*Dar estilos con clases nos permite reutilizar nuestro codigo CSS*/
.bg-skyblue{
    background-color: skyblue;
}
.bg-steelblue{
    background-color: steelblue;
}
.text-20{
    font-size: 20px;
}
.text-32{
    font-size: 32px;
}
.text-white{
    color: white;
}
.hijos-directos > li{
    background-color: thistle ;
}
.hijos-descendientes b{
    background-color: thistle;
}


/*Los selectores de hermanos van a aplicar a los elementos que son hermanos y que esten por debajo del elemento de referencia*/
.hermanos-general ~ li{
    background-color: thistle;
}
.hermanos-adyacentes + li{
    background-color: thistle;
}


/*Selectores de atributos*/
.selectores-atributos a[href]{
    color: orangered;
}

.selectores-atributos a[target="_blank"]{
    font-weight: bold;
}

/*El comodin del * aplica el estilo si contiene el texto en cuestion en cualquier parte*/
.selectores-atributos a[href*="jonmircha"]{
    font-size: 24px;
}

/*El comodin del ^ aplica el estilo si contiene el texto en cuestion al inicio*/
.selectores-atributos a[href^="http://"]{
    text-decoration: none;
}

/*El comodin del $ aplica el estilo si contiene el texto en cuestion al final*/
.selectores-atributos a[href$=".com"]{
    background-color: black;
}

/*El comodin del ~ aplica el estilo si contiene el texto en cuestion en una lista separada por espacios*/
.selectores-atributos a[class~="cursos"]{
    background-color: midnightblue;
}

/*El comodin del | aplica el estilo si contiene el texto en cuestion en una lista separada por espacios y que despues del texto en cuestion, pueda venir un guion medio -*/
.selectores-atributos a[class|="menu"]{
    font-style: italic;
}
/*Selector universal*/
*{
    font-family: sans-serif;
}

.selector-universal *{
    font-size: 24px;
}

/*
Pseudoclases - Dan estilos dependiendo del contexto, posicion o estado del elemento
https://developer.mozilla.org/es/docs/Web/CSS/Pseudo-classes
*/

.form-pseudoclases *:required{
    border-color: yellow;
}

.form-pseudoclases *:valid{
    border-color: green;
}
.form-pseudoclases *:invalid{
    border-color: red;
}
.form-pseudoclases *:focus{
    background-color: skyblue;
}
.form-pseudoclases *:disabled{
    background-color: pink;
}
.menu-pseudoclases a:hover{
    color: orange;
}

.menu-pseudoclases a:visited{
    color: olive;
}
.p-pseudoclases:hover{
    font-size: 24px;
}
#temario-css:target{
    background-color: lightgreen;
}

.lista-pseudoclases li:first-child{
    color: green;
}
.lista-pseudoclases li:last-child{
    color: pink;
}
.lista-pseudoclases li:nth-child(3){
    color: navy;
}
.lista-pseudoclases li:nth-child(4n){
    font-size: 20px;
}
.lista-pseudoclases li:nth-child(3n +1){
    font-weight: bold;
}
.lista-pseudoclases li:nth-child(even){
    background-color: yellow;
}
.lista-pseudoclases li:nth-child(odd){
    background-color: orange;
}

/* first-child no funciona por que el primer hijo es el header, usar este en su lugar*/
.articulo-pseudoclases p:first-of-type{
    background-color: pink;
}
.articulo-pseudoclases p:last-of-type{
    background-color: violet;
}
.articulo-pseudoclases p:nth-last-of-type(3){
    background-color: fuchsia;
}
.articulo-pseudoclases *:not(p ,.boton, .lista, #algo){
    background-color: beige;
}

/*
Pseudoelementos - Dan estilos a partes específicas de un elemento, se usa el :: para diferenciarlos de las pseudoclases
https://developer.mozilla.org/es/docs/Web/CSS/Pseudoelementos
*/

